section.csfd-ratings-addon {
  padding: 0.5em 0;
}
div.csfd-rating-addon.distribution-line {
  display: flex;
}
span.csfd-rating-addon.star-rating {
  width: 60px;
}
progress.csfd-rating-addon {
  width: 120px;
}
