section.csfd-ratings-addon {
  padding: 0.5em 0;
}
div.csfd-rating-addon.distribution-container {
  display: flex;
}
span.csfd-rating-addon.star-rating {
  width: 60px;
}
progress.csfd-rating-addon {
  width: 120px;
  height: 5px;
  margin: 8px 0;
}
progress[value].csfd-rating-addon::-moz-progress-bar,
.page-red progress[value]::-moz-progress-bar {
  background-color: var(--color-red);
}
.page-blue progress[value].csfd-rating-addon::-moz-progress-bar {
  background-color: #658db4;
}
.page-grey progress[value].csfd-rating-addon::-moz-progress-bar {
  background-color: #535353;
}
.csfd-ratings-addon.reload {
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
}
